/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  font-family: var(--main-font),sans-serif;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-weight);
}


.header {
  display:grid;
  justify-content: space-around;
  font-family: var(--pix-font),sans-serif;
  font-variation-settings: "wght" var(--headind-weight);
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin-top: 100px;
  margin-bottom: 101px;
  border: 2px solid #000;
  padding: 128px 0px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
  background-color: white;
}

.discription {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  justify-content: center;
  align-content: center;
}

.section-freetrack {
  position: relative;
  min-width: 371px;
  max-width: 698px;
  margin-bottom: 50px;
  border: 2px solid #000;
  font-size: 18px;
  background-color: white;
}

.title {
  padding: 5px 0px 4px 11px;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--headind-weight);
}

.image {
  width: 100%;
  border: 2px solid #000;
  object-fit: cover;
  object-position: center;
}

.main__content {
  display: grid;
  gap: 26px;
  padding: 28px 25px 25px 24px;

}

.main__text {
  justify-self: start;
  font-size: 18px;
  line-height: 117%;
  font-variation-settings: "wght" var(--text-weight);
}

button {
 border: none;
 outline: none;
 background: inherit;
}

.button-section {
  display: flex;
  flex-direction: row;
  justify-self: end;
  align-items: flex-start;
  gap: 6px;
}

.card__like-button {
  border: 2px solid #000;
  padding: 12px 27px 9px 27px;
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
  width: 130px;
  line-height: 12.6px;
}

.sepia {
  filter: sepia(80%);
}

.invert {
  filter: invert(75%);
}

.hue-rotate {
  filter: hue-rotate(180deg);
}

.saturate {
  filter: saturate(200%);
}

.grayscale {
  filter: grayscale(100%);
}

.blur {
  filter: blur(0.2rem);
}

.mix {
  filter:sepia(80%) blur(0.2rem);
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 6px;
  margin-bottom: 105px;
  border: 2px solid #000;
  background-color: white;
}

.card__save-button {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  gap: 6px;
  padding: 15px 22px 15px 21px;
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
}


dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog[open] {
  display: grid;
  grid-template-columns:  min-content 0.9fr;
  grid-template-rows: auto min-content;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  column-gap: 14px;
  width: 357px;
  padding: 30px;
} 

dialog[open] .ico-save {
  align-self: center;
  width: 38px;
  height: 38px;
}

dialog[open] .button__text {
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__form {
  grid-column: 1/3;
  justify-self: center;
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
}

.button_dialog {
  border: 2px solid #000;
  padding: 10px 125px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
  mix-blend-mode: difference;
}

.ico-save {
  justify-self: center;
  align-self: start;
  width: 21px;
  height: 21px;
  color: #fff;
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
}

.button {
  position: relative;
  box-shadow: 0px 0px 0px transparent;
  overflow: hidden;
  transition: 0.3s ease box-shadow;
}

.button:focus-visible {
  box-shadow:  2px 2px 0 #000;
}


.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);

}

.button:hover::before {
  transform: translateX(0);
}

.card__icon-button {
  display: grid;
  border: none;
  padding: 0px;
  transition: 0.3s ease;
  max-block-size: 38px;
  padding-top: 1px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.label-section {
  position: relative;
}

.label-head {
  position: absolute;
  top: 25px;
  right: 15px;
  opacity: 0.5;
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
  text-shadow: 2px 2px 0 #fff;
  background-color: transparent;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 2px #fff) {
  .label-head {
    text-shadow: none;
    text-stroke: 2px #fff;
  }
} 

@media (width <= 376px) {
  .header {
    justify-content: normal;
    width: 100%;
  }
  .label {
    width: 100%;
    margin-top: 100px;
    padding: 120px 0px;
  }

  .section-freetrack {
    width: 100%;
  }

  .title {
    padding: 4px 9px 4px 10px;
  }

  .main__content {
    padding: 25px 26px 26px 25px;
  }

  .card__save-button {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding:  17px 22px 15px 20px;
  }

  .ico-save {
    align-self: center;
    width: 29px;
    height: 29px;


  }
}