/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font),sans-serif;
  font-variation-settings: "wght" var(--text-weight);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}


.header {
  font-family: var(--pix-font),sans-serif;
  font-variation-settings: "wght" var(--headind-weight);
  display:grid;
  justify-content: space-around;
}

.label {
  margin-top: 100px;
  width: 73vh;
  background-color: white;
  text-align: center;
  font-size:clamp(49px,10vh,65px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #000;
  padding: 128px 0px;
  margin-bottom: 101px;
}

.discription {
  font-size:clamp(14px,10vh,23px);
  text-transform: uppercase;
}

.main {
  display: grid;
  justify-content: space-around;
}

.section-freetrack {
  background-color: white;
  border: 2px solid #000;
  font-size: 18px;
  min-width: 371px;
  max-width: 698px;
 /* margin: 0 38.5vh;*/
  margin-bottom: 50px;
  position: relative;
}

.title {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--headind-weight);
  font-size: 18px;
  padding: 5px 0px 4px 11px;
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  border: 2px solid #000;
}

.main__content {
  display: grid;
  padding: 24px 25px 21px 26px;
  gap: 27px;

}

.main__text {
  font-variation-settings: "wght" var(--text-weight);
  font-size: 18px;
  justify-self: start;
  line-height: 117%;
}

button {
 outline: none;
 border: none;
 background: inherit;
}

.button-section {
  justify-self: end;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
}

.card__like-button {
  border: 2px solid #000;
  padding: 9px 37px 13px 35px;
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
}

.sepia {
  filter: sepia(80%);
}

.invert {
  filter: invert(75%);
}

.hue-rotate {
  filter: hue-rotate(180deg);
}

.saturate {
  filter: saturate(200%)
}

.grayscale {
  filter: grayscale(100%);
}

.blur {
  filter: blur(0.2rem);
}

.mix {
  filter:sepia(80%) blur(0.2rem);
}

.footer-section {
  justify-self: center;
  display: flex;
  flex-direction: row;
  gap: 6px;
  background-color: white;
  border: 2px solid #000;
  margin-bottom: 105px;
}

.card__save-button {
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
  display: grid;
  align-items: center;
  grid-template-columns: min-content max-content;
  padding: 18px 22px 13.5px 21px;
  gap: 6px;
}


dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog[open] {
 display: grid;
 padding: 30px;
 grid-template-columns:  min-content min-content;
 row-gap: 10px;
} 

dialog[open] .ico-save {
  height: 38px;
  width: 38px;
  align-self: center;
}

.dialog__form {
  grid-column: 1/3;
  justify-self: center;
  border: 2px solid #000;
  padding: 4px 100px;
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
}

.button__text {
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.ico-save {
  align-self: start;
  justify-self: center;
  color: #fff;
  mix-blend-mode: difference;
  width: 21px;
  height: 21px;
}

.Sim_but:focus {
  outline: none;
}

.Sim_but {
  box-shadow: 0px 0px 0px transparent;
  transition: 0.3s ease box-shadow;
  position: relative;
  overflow: hidden;
}
.Sim_but:focus-visible {
  box-shadow:  2px 2px 0 #000;
}


.Sim_but::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;

}

.Sim_but:hover::before {
  background-color: #000;
  transform: translateX(0);
}

.card__icon-button {
  display: grid;
  padding: 0px;
  border: none;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.label-section {
  position: relative;
}

.label-head {
  position: absolute;
  top: 25px;
  right: 15px;
  background-color: transparent;
  font-size: 14px;
  font-family: var(--pix-font),sans-serif;
  mix-blend-mode: hard-light;
  text-shadow: 2px 2px 0 #fff;
  opacity: 0.5;
}

@supports (text-stroke: 1px #fff) {
  .label-head {
    text-stroke: 1px #fff
  }
} 

@media (width <= 376px) {
  .header {
    width: 100%;
    justify-content: normal;
  }
  .label {
    width: 100%;
    font-size: clamp(49px, 7.5vh, 65px);
    margin-top: 15vh;
  }

  .discription {
    font-size: clamp(14px,1vh,23px);
  }

  .section-freetrack {
    width: 100%;
    margin: 0px;
    margin-bottom: 49px;
  }

  .title {
    padding: 4px 9px 4px 10px;
  }

  .main__content {
    padding: 27px 26px 25px 25px;
  }

  .card__save-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 11px 20px 13px 20px;
  }
}