/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes Sim-focus {
  from {
    box-shadow: none;
  }

  to {
    box-shadow:  2px 2px 0 #000;
  }
}

@keyframes Sim-hover {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes love-bip {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes sparks-bip {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes ico-focus {
  from {
    border: none;
  }

  to {
    border: 2px solid #000;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font),sans-serif;
  font-variation-settings: var(--text-weight);
  background-image: var(--background-image);
  background-size: cover;
}


.header {
  font-family: var(--pix-font);
  font-variation-settings:var(--headind-weight);
  display:grid;
  justify-content: space-around;
  min-block-size: 59dvb;
}

.label {
  margin-top: 10.5vh;
  width: 73vh;
  background-color: white;
  text-align: center;
  height: 38vh;
  font-size:clamp(49px,10vh,65px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #000;
}

.discription {
  font-size:clamp(14px,10vh,23px);
  text-transform: uppercase;
}



.section-freetrack {
  background-color: white;
  border: 2px solid #000;
  font-size: 18px;
  margin: 0 38.5vh;
  margin-bottom: 50px;
  position: relative;
}

.title {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" 700;
  font-size: 18px;
  padding: 6px 0px 4px 11px;
}

.image {
  height: 100%;
  width: 100%;
  border: 2px solid #000;
}

.main__content {
  display: grid;
  padding: 30px 25px 25px 25px;
  gap: 25px;

}


.main__text {
  font-variation-settings: "wght" var(--text-weight);
  font-size: 18px;
  justify-self: start;
  line-height: 117%;
}

button {
 outline: none;
 border: none;
 background: inherit;
}

.button-section {
  justify-self: end;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.card__icon-button {
  padding: 0px;
}

.card__like-button {
  border: 1px solid #000;
  padding: 10.5px 37px;
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
}

.sepia {
  filter: sepia(80%);
}

.invert {
  filter: invert(75%);
}

.hue-rotate {
  filter: hue-rotate(180deg);
}

.saturate {
  filter: saturate(200%)
}

.grayscale {
  filter: grayscale(100%);
}

.blur {
  filter: blur(0.2rem);
}

.mix {
  filter:sepia(80%) blur(0.2rem);
}

footer {
  margin-top: 53px;
}

.footer-section {
  justify-self: center;
  display: flex;
  flex-direction: row;
  gap: 6px;
  background-color: white;
  border: 1px solid #000;
  margin-bottom: 105px;
}

.card__save-button {
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
  display: grid;
  align-items: center;
  grid-template-columns: min-content max-content;
  padding: 13px 21px 13.5px 21px;
}


dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
}

dialog[open] {
 display: grid;
 padding: 30px;
 grid-template-columns:  min-content min-content;
 row-gap: 10px;
} 

.submit {
  grid-column: 1/3;
  justify-self: center;
  border: 2px solid #000;
  padding: 4px 100px;
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
}

.button__text {
  font-family: var(--pix-font),sans-serif;
  font-size: 14px;
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.diskett {
  align-self: center;
  justify-self: center;
  color: #fff;
  mix-blend-mode: difference;
}

.Sim_but:focus {
  outline: none;
}

.Sim_but:focus-visible {
  animation: Sim-focus 0.3s ease ;
}

.Sim_but {
  position: relative;
  overflow: hidden;
}


.Sim_but:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  animation:Sim-hover 0.5s ease-in-out;

}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  animation: ico-focus 0.3s ease;
}

.contour {
  fill: var(--contour);
}

.sparks {
  opacity: 0;
}

.card__icon-button .core {
  transition: fill 0.3s 0.03s linear;
  fill: transparent;
}

.card__icon-button .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: transparent;
}

.card__icon-button:hover .core {
  fill: var(--contour);
}

.card__icon-button:hover .main-body {
  fill: var(--contour);
}

.card__icon-button:active .core {
  fill: var(--sparks);
}

.card__icon-button:active .main-body {
  fill: var(--sparks);
}


.like-icon.is-liked .core {
  fill: var(--sparks);
  transition: fill 0.3s ease-in;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks);
  transition: fill 0.3s 0.05s ease-in;
}

.like-icon.is-liked .contour {
  fill: var(--sparks);
  transition: fill 0.3s 0.06s ease-in;
}


.like-icon.is-liked .heart {
  animation: love-bip 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-bip 0.3s 0.3s ease-in;
}

.like-icon .contour {
  fill: var(--contour);
  transition: fill 0.1s ease-in;
}

.label-section {
  position: relative;
}

.label-head {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  font-size: 14px;
  font-family: var(--pix-font),sans-serif;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;

}

@supports (text-stroke: 1px #fff) {
  .label-head {
    text-stroke: 1px #fff
  }
} 

@media (width <= 376px) {
  .header {
    width: 100%;
    justify-content: normal;
    height: 79vh;
  }
  .label {
    width: 100%;
    font-size: clamp(49px, 7.5vh, 65px);
    margin-top: 15vh;
    height: 49.5vh;
  }

  .discription {
    font-size: clamp(14px,1vh,23px);
  }

  .section-freetrack {
    width: 100%;
    margin: 0px;
    margin-bottom: 49px;
  }

  .title {
    padding: 4px 9px 4px 10px;
  }

  .main__content {
    gap: 27px;
    padding: 22px 26px 25px 25px;
  }

  .card__save-button {
    display: flex;
    flex-direction: column;
    padding: 24px 20px 18px 20px;
  }
}